{% ckan_extends %}

  {% block help_inner %}
  <h2 class="module-heading">{{ _('Why Sign Up?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Users must register to give dataset feedback.{% endtrans %}</p>
    <p><b>If you are an employee of the SAFRAN</b> and want to use the OpenData portal, your company may already have a representative who can publish your document for you or train you to do it..</p>
    <p>If you need to become a publisher, apply for publishing access</a>.</p>
  </div>
  {% endblock %}
