{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}
{% if h.is_ckan_29() %}
  {% set org_route_name = 'organization.read' %}
{% else %}
  {% set org_route_name = 'organization_read' %}
{% endif %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}

<div id="content" class={{ h.set_background_image_class()  }}>
   {{ self.flash() }}
    <h1 class="visuallyhidden">Queensland Government publications Homepage</h1>
    <div class="hero-banner" style="background-image: url('/assets/bridge.jpg');">
        <div class="hero-banner__inner container">
            <div class="hero-banner__text-wrap">
                <h1>Discover and use Queensland Government Publications</h1>
            </div>
            <div class="hero-banner__search">
                <h2 class="hero-banner__search-title">Search over 1,850 publications and 11,735 resources</h2>
                <form action="/dataset" method="get" autocomplete="off">
                    <input type="text" name="q" placeholder="E.g Gazettes" aria-label="Search Publications" />
                    <button type="submit"><span class="sr-only">Submit search</span></button>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row wrapper">

      </div>
    </div><!-- .container -->
</div>
{% endblock %}
