<footer class="site-footer">
    <div class="container">
        <ul>
            <li><a href="https://datasquare.analytics.safran/" class="no-print">Contact us</a></li>
            <li class="mobile-hidden"><a href="https://datasquare.analytics.safran/" class="no-print">Help</a></li>
            <li><a href="https://datasquare.analytics.safran/">Copyright</a></li>
            <li><a href="https://datasquare.analytics.safran/">Disclaimer</a></li>
            <li><a href="https://datasquare.analytics.safran/">Privacy</a></li>
            <li><a href="https://datasquare.analytics.safran/">Right to information</a></li>
        </ul>
        <div class="site-footer__copyright">
            <p>&copy; SAFRAN Analytics 2022-{{ h.get_year() }}</p>
        </div>
        <div class="site-footer__signoff">
            <p><a href="https://datasquare.analytics.safran/">DataSquare</a></p>
        </div>
    </div>
</footer>
